<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../image/Logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="app">

        <header class="bg-white flex justify-around h-32">
            <div class="flex flex-row items-center">
                <img class="h-36 w-36 " src="../image/logo friend bank.png" alt="Logo">
            </div>
            <nav class="flex gap-5 items-center   ">
                <a class="p-2 hover:underline text-[#311C7D] text-2xl font-serif " href="./Accounts.html">Accounts</a>
                <a class="p-2 hover:underline text-[#311C7D] text-2xl font-serif " href="./cards.html">Cards</a>
                <a class="p-2 hover:underline text-[#311C7D]  text-2xl font-serif" href="#">Loans</a>
                <a class="p-2 hover:underline text-[#311C7D]  text-2xl font-serif"
                    href="./transfer.html">Transactions</a>
            </nav>
            <div class="flex items-center">
                <img @click="logout()" src="../image/boton-salir-a-la-aplicacion.png" alt="">
            </div>
        </header>
        <main class=" bg-[#04B2D9]   flex flex-col gap-4 items-center ">
            <div>
                <h2 class="text-5xl text-white font-serif text-center m-5">Welcome {{data.firstName}}!</h2>

                <div class=" flex flex-col ">
                    <h3 class="text-5xl mb-4 font-bold text-center font-serif mt-8 text-white">Accounts </h3>
                    <div class="flex  items-center">
                        <div class="flex flex-col gap-3  items-center ">
                            <h2 class="text-3xl font-bold text-white">Bank Account</h2>
                            <h3 class="text-[#311c7d] text-xl">Your bank account is the birth of your financial
                                independence
                            </h3>
                            <h3 class="text-[#311c7d] text-xl">create your bank account with a single click! </h3>
                            <img class="h-72 w-80 rounded-xl" src="../image/salary01.jpg" alt="">
                            <button
                                class="  p-2 rounded-lg bg-green-600 font-bold text-white w-44 hover:bg-green-200 hover:text-[#042326]"
                                @click="creationAccount">Create Account</button>

                        </div>
                        <div class="flex">
                            <template v-if="accounts.length > 0" v-for="account in accounts">

                                <div class=" gap-10 m-9 text-center font-serif text-white  ">
                                    <section class="bg-[#3733A6]  h-48 w-80 rounded-lg m-9 p-9 ">
                                        <h2 class="text-center text-lg items-center">Account number: {{account.number}}
                                        </h2>
                                        <h2 class="text-center text-lg items-center">Amount:
                                            {{montoformateado(account.balance) }} </h2>
                                        <h2 class="text-center text-lg items-center mb-4">Creation date :
                                            {{account.creationDate}}
                                        </h2>
                                        <a class="bg-white text-[#3733A6] p-1 rounded-lg shadow-lg shadow-[#7E5EF2] hover:bg-[#7E5EF2] hover:border-white hover:text-white"
                                            v-bind:href="'../pages/account.html?id=' + account.id">Details
                                            Transaction</a>
                                    </section>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>

                <h3 class="text-5xl mb-4 font-bold font-serif text-center text-white">Loans </h3>
                <div>
                    <a class="p-2 rounded-lg bg-green-600 font-bold text-white w-44 hover:bg-green-200 hover:text-[#042326]" href="./loan-application.html">Apply for a loan</a>
                    <div v-if="loans.length > 0 "
                        class="flex items-center flex-col  gap-10 m-9 font-serif text-[#042326]  ">

                        <template v-for="loan in loans">
                            <table class="border-collapse border border-white table-fixed  w-1/4">
                                <thead class=" bg-[#3733a6] text-xl items-center  text-white">
                                    <tr class="h-16 ">
                                        <th class=" border border-white">Name</th>
                                        <th class=" border border-white">Amount</th>
                                        <th class=" border border-white">Payments</th>
                                    </tr>
                                </thead>
                                <tbody class="text-lg text-center ">
                                    <tr class="h-12 ">
                                        <td class=" border border-white">{{loan.name}}</td>
                                        <td class=" border border-white"> {{montoformateado(loan.amount) }}</td>
                                        <td class=" border border-white">{{loan.payments}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </template>
                    </div>
                    <h3 v-else> You have no active credit, we invite you to apply for credit!!
                </div>

                </h3>
                <div class="flex flex-col ">
                    <h3 class="text-3xl mb-9 text-center  text-white">¡Learn more about our products!</h3>
                    <div class=" flex text-center justify-around">
                        <div class="flex flex-col gap-2  items-center ">
                            <h3 class="text-3xl text-white font-bold">Credits</h3>
                            <h3 class="text-center"> Finance what you dream, want and need.</h3>
                            <p class="w-80"> Ideal options for those projects or ideas that need
                                financial
                                support.</p>
                            <img class="h-72 w-80 rounded-lg " src="../image/compra de casa.jpg" alt="credit">
                            <button
                                class="  p-2 rounded-lg bg-green-600 font-bold text-white w-44 hover:bg-green-200 hover:text-[#042326]">See
                                more!</button>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <footer class=" flex h-14 justify-around items-center bg-white ">
            <h3 class="text-lg justify-center  font-semibold text-[#7E5EF2]">2023- All rights reserved</h3>
            <div class="flex gap-8">
                <img class="h-9" src="../image/facebook.png" alt="facebook">
                <img class="h-9" src="../image/whatsapp.png" alt="whatsapp">
                <img class="h-9" src="../image/logo instagram.png" alt="instagram">
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../js/tailwind.config.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/accounts.js"></script>

</body>

</html>