<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="app">
        <header class="bg-cyan-600 items-center flex justify-around">
            <img class="h-12 w-12 rounded-lg" src="../image/icono banco.jpg" alt="">

            <nav class="flex gap-5 ">
                <a class="p-2  text-cyan-600 bg-white rounded-lg" href="Accounts.html">Accounts</a>
                <a class="p-2  text-cyan-600 bg-white rounded-lg" href="#">Cards</a>
                <a class="p-2  text-cyan-600 bg-white rounded-lg" href="#">Loans</a>
                <a class="p-2  text-cyan-600 bg-white rounded-lg" href="#">Transactions</a>
            </nav>

            <button class="p-2  text-cyan-600 bg-white rounded-lg">Logout</button>
        </header>
        <main class=" flex flex-col items-center">

            <h2 class="text-5xl text-cyan-600 text-center m-5">Welcome {{data.firstName}}!</h2>

            <h3 class="text-5xl mb-4 font-bold text-center mt-8 text-cyan-600">Accounts </h3>
            <div class="flex ">
                <template v-if="accounts.length > 0" v-for="account in accounts">

                    <div class=" gap-10 m-9 text-center text-white  ">
                        <section class="bg-cyan-600  h-48 w-80 rounded-lg m-9 p-9 ">
                            <h2 class="text-center text-lg items-center">Account number: {{account.number}}</h2>
                            <h2 class="text-center text-lg items-center">Amount:
                                {{montoformateado(account.balance) }} </h2>
                            <h2 class="text-center text-lg items-center mb-4">Creation date
                                :
                                {{account.creationDate}}
                            </h2>
                            <a class="bg-white text-cyan-600 p-1 rounded-lg"
                                v-bind:href="'../pages/account.html?id=' + account.id">Details Transaction</a>
                        </section>
                    </div>
                </template>
            </div>
            <div>
                <h3 class="text-5xl mb-4 font-bold text-center text-cyan-600">Loans </h3>

                <div v-if="loans.length > 0 " class="flex items-center  gap-10 m-9  text-white  ">
                    <template v-for="loan in loans">

                        <section class="bg-cyan-600  h-48 w-80 rounded-lg m-9 p-9 ">
                            <h2 class="text-center text-lg items-center mb-3">Name: {{loan.name}}</h2>
                            <h2 class="text-center text-lg items-center mb-3">Amount:
                                {{montoformateado(loan.amount) }} </h2>
                            <h2 class="text-center text-lg items-center mb-3">Payments: {{loan.payments}}
                            </h2>

                        </section>
                    </template>
                </div>
                <h3 v-else > You have no active credit, we invite you to apply for credit!! 
                </h3>

                
        </main>
        <img class="w-full max-h-96 object-cover object-center" src="../image/banner.avif" alt="banner">
        <footer class=" flex justify-around text-cyan-600 p-7 h-16">

            <h3 class="text-lg justify-center">2023- All rights reserved</h3>
            <div class="flex gap-4 items-center  ">
                <img class="h-10 w-10" src="../image/logo-de-facebook.png" alt="facebook">
                <img class="h-10 w-10" src="../image/instagram.png" alt="instagram">
                <img class="h-10 w-10" src="../image/whatsapp.jpg" alt="whatsapp">
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../js/tailwind.config.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/accounts.js"></script>

</body>

</html>